body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.underline a {
    text-decoration: underline;
    color: inherit;
}

a.underline {
    text-decoration: underline;
    color: inherit;
}

/* Because materialize expects li>a, not li a*/
.side-nav a {
    color: rgba(0, 0, 0, 57);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}